{% extends "AppSACCOM/padre.html" %}
{% load static %}
{% block contenidoQueCambia%}
    <h3>Ingresar Miembro de la Comision Directiva</h3>
    {% if miFormulario.errors %} 
    
    <p style="color: red;"> Estan mal los datos, revisalos</p>
    
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <!-- Aca esta la magia de Django-->
        <table>

            {{ miFormulario.as_table }}

        </table>

        <input type="submit", value="Enviar">
        
     </form>  
{% endblock %}